.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap:1rem;
}

.n-left {
  /* flex: 1; */
  display: flex;
  gap: 0.5rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-right {
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-links-container {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.n-link {
  cursor: pointer;
  display: block;
}

.n-link .active {
  color: var(--orange); /* Highlight active link */
  font-weight: bold;
}

.n-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.nav-contact-btn {
  margin-right: 4rem;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
}

/* Mobile menu styles */
.mobile-menu {
  position: absolute;
  top: 8vh;
  right: 0;
  background-color: #333;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  z-index: 999;
}

.mobile-links-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobile-link {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.mobile-link:hover,
.mobile-link .active {
  color: var(--orange); /* Highlight active link on mobile */
}



 /* @media screen and (max-width: 300px) {
  .nav-contact-btn {
    margin-right: 4rem;
  }
 } */

@media screen and (max-width: 900px) {
  .n-links-container {
    display: none;
  }

  .hamburger-icon {
    display: block;
    margin-right: 1rem;
  }

  .n-right {
    justify-content: center;
    gap: 0.5rem;
  }

  .n-button {
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
    margin-right: 0; /* Prevent button overflow */
  }

  .nav-contact-btn {
    margin-right: 0rem;
  }

  .n-wrapper {
    gap:0rem;
  }
}



